<ion-header translucent="true">
  <ion-toolbar class="app-header">

    <div class="header-inner">

      <div class="left">

        <div class="logo"></div>

        <div class="titles">
          <div class="title">{{ title }}</div>
          <div class="subtitle">Gestão de eventos</div>
        </div>

      </div>

      <!-- BOTÃO LOGOUT -->
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </div>

  </ion-toolbar>
</ion-header>
