<app-header></app-header>

<ion-content fullscreen="true">

  <div class="login-wrapper">

    <div class="login-title">
      Bem-vindo 👋
    </div>

    <div class="login-subtitle">
      Entre para gerenciar seus eventos
    </div>

    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-btn" (click)="login()">
      Entrar
    </ion-button>

    <div class="login-footer">
      Não possui conta?
      <a (click)="goRegister()">Criar conta</a>
    </div>

  </div>

</ion-content>
