ion-content {
  --background: radial-gradient(circle at top, #1a0026, #050008);
}

.login-wrapper {
  height: calc(100vh - 120px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;

  padding: 28px;
  max-width: 420px;
  margin: 0 auto;

}

.login-title {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.login-subtitle {
  font-size: 14px;
  color: #a0a0b8;
  margin-bottom: 8px;
}

/* Inputs */

ion-item {
  --background: rgba(255,255,255,0.04);
  --border-radius: 14px;
  --padding-start: 12px;
  --inner-padding-end: 12px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.05);
}

/* Botão */

.login-btn {
  margin-top: 12px;

  --background: linear-gradient(135deg, #7a00ff, #b100ff);
  --border-radius: 14px;

  font-weight: 600;
  letter-spacing: 0.5px;

  box-shadow:
    0 6px 18px rgba(138,0,255,0.5);

  transition: transform 0.15s ease;
}

.login-btn:active {
  transform: scale(0.97);
}

/* Footer */

.login-footer {
  text-align: center;
  font-size: 13px;
  color: #999;
}

.login-footer a {
  color: #b100ff;
  font-weight: 600;
  margin-left: 4px;
}

/* Error */

ion-text {
  text-align: center;
  font-size: 13px;
}
