<app-header title="Criar conta"></app-header>

<ion-content fullscreen="true">

  <form
    class="register-wrapper"
    [formGroup]="form"
    (ngSubmit)="register()"
  >

    <div class="register-title">
      Criar conta ✨
    </div>

    <div class="register-subtitle">
      Comece a gerenciar seus eventos agora
    </div>

    <!-- NAME -->
    <ion-item lines="none">
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        type="text"
        formControlName="name">
      </ion-input>
    </ion-item>

    <!-- EMAIL -->
    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        formControlName="email">
      </ion-input>
    </ion-item>

    <!-- PASSWORD -->
    <ion-item lines="none">
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        type="password"
        formControlName="password">
      </ion-input>
    </ion-item>

    <!-- ERROR -->
    <ion-text color="danger" *ngIf="errorMsg">
      {{ errorMsg }}
    </ion-text>

    <!-- BUTTON -->
    <ion-button
      expand="block"
      class="register-btn"
      type="submit"
      [disabled]="loading"
    >
      <ion-spinner *ngIf="loading"></ion-spinner>
      <span *ngIf="!loading">Cadastrar</span>
    </ion-button>

    <div class="register-footer">
      Já possui conta?
      <a (click)="goLogin()">Entrar</a>
    </div>

  </form>

</ion-content>
